*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  color: #201f1f;
}

.container {
  max-width: 1480px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Home */

.main-flex {
  display: flex;
  justify-content: space-around;
  padding: 0 15px;
  margin-top: 50px;
}

nav {
  width: 265px;
  border: 2px solid #889eaf;
  border-radius: 5px;
  display: flex;
  padding: 0 20px;
  flex-direction: column;
  align-items: center;
  height: 400px;
}

nav a {
  display: block;
  padding: 15px 20px;
  width: 100%;
  margin: auto;
  background-color: #c37b89;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: #fafafa;
  border: 2px solid #c37b89;
  transition: 300ms ease-in-out;
}

nav a:hover {
  background-color: #fef5ed;
  color: #c37b89;
}

.active {
  background-color: #889eaf;
  color: #fafafa;
  border: 2px solid #889eaf;
}

.intro {
  width: 650px;
  padding: 20px;
  border: 2px solid #889eaf;
  border-radius: 10px;
}

.intro .self-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.intro .self-flex h1 {
  font-size: 55px;
  line-height: 1.5;
}

.intro .self-flex h2 {
  font-size: 35px;
  line-height: 1.5;
}

.intro .self-flex img {
  width: 250px;
  height: 330px;
  border-radius: 50px;
  border: 3.5px solid #c37b89;
}

.intro ul {
  margin-top: 35px;
}

.intro ul li {
  font-size: 18px;
  line-height: 1.4;
  color: #201f1f;
  padding: 10px;
}

.intro ul li:before {
  content: '⚡';
}

footer {
  background-color: #c37b89;
  padding: 15px;
  text-align: center;
  margin-top: 50px;
}

footer p {
  font-size: 20px;
  color: #fafafa;
}

/* About-Page */
.about-section {
  width: 650px;
  padding: 20px;
  border: 2px solid #889eaf;
  border-radius: 10px;
}

.about-section h1 {
  font-size: 45px;
  text-transform: uppercase;
  line-height: 1.5;
  text-align: center;
  color: #889eaf;
}

.about-section .about-content p {
  padding: 10px 0px;
  padding-bottom: 2.5px;
  font-size: 20px;
  line-height: 1.7;
}

/* Resume-Page */
.resume-section {
  width: 650px;
  padding: 20px;
  border: 2px solid #889eaf;
  border-radius: 10px;
}

.resume-section h1 {
  font-size: 45px;
  text-transform: uppercase;
  line-height: 1.5;
  text-align: center;
  color: #889eaf;
}

.resume-section .academic-experience,
.resume-section .languages,
.resume-section .skills {
  margin-bottom: 15px;
}

.resume-section .academic-experience h3 {
  font-size: 25px;
  padding: 10px;
}

.resume-section .academic-experience p {
  padding: 0px 10px;
  padding-bottom: 2.5px;
  font-size: 18px;
  line-height: 1.5;
}

.resume-section .academic-experience p::before {
  content: '♦';
  color: #889eaf;
  font-weight: bold;
  margin-right: 8px;
}

.resume-section .languages h3 {
  font-size: 25px;
  padding: 10px;
}

.resume-section .languages ul {
  padding: 0px 10px;
}

.resume-section .languages li {
  padding-bottom: 2.5px;
  font-size: 18px;
  line-height: 1.5;
}

.resume-section .languages li::before {
  content: '✅';
  margin-right: 8px;
}

.resume-section .skills h3 {
  font-size: 25px;
  padding: 10px;
}

.resume-section .skills ul {
  padding: 0px 10px;
}

.resume-section .skills li {
  padding-bottom: 2.5px;
  font-size: 18px;
  line-height: 1.5;
}

.resume-section .skills li::before {
  content: '✔';
  color: #889eaf;
  font-weight: bold;
  margin-right: 8px;
}

/* Portfolio-Page */
.project-grid {
  flex: 1;
  padding: 20px;
  border: 2px solid #889eaf;
  border-radius: 10px;
  margin-left: 10px;
}

.project-grid h1 {
  font-size: 45px;
  text-transform: uppercase;
  line-height: 1.5;
  text-align: center;
  color: #889eaf;
}

.project-grid .project-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-grid .project-flex .card {
  width: 335px;
  margin-top: 30px;
}

.project-grid .project-flex .card img {
  width: 330px;
  height: 330px;
  border: 3.5px solid #c37b89;
}

.project-grid .project-flex .card h3 {
  font-size: 25px;
  padding: 10px;
  text-align: center;
}

.project-grid .project-flex .card p {
  font-size: 18px;
  line-height: 1.35;
  padding: 15px 0px;
  text-align: justify;
}

/* Media Queries */

@media (max-width: 1036px) {
  .project-grid .project-flex .card {
    width: 300px;
  }

  .project-grid .project-flex .card img {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 983px) {
  nav {
    width: 235px;
    padding: 0 15px;
    height: 400px;
  }

  .intro {
    width: 630px;
    padding: 15px;
  }
}

@media (max-width: 927px) {
  .main-flex {
    flex-direction: column;
    margin-top: 15px;
  }

  nav {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
  }

  nav a {
    width: 100px;
    margin: 0 auto;
    font-size: 18px;
    padding: 10px;
  }

  .intro {
    width: 100%;
    margin-top: 15px;
  }

  .about-section {
    width: 100%;
    margin-top: 15px;
  }

  .resume-section {
    width: 100%;
    margin-top: 15px;
  }

  .project-grid {
    margin-top: 15px;
  }

  .project-grid .project-flex .card {
    width: 100%;
  }

  .project-grid .project-flex .card img {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .intro .self-flex {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }

  nav {
    padding: 10px;
  }

  nav a {
    width: 85px;
    font-size: 16px;
    margin-top: 10px;
  }
}
